.links{
	position:fixed;
	z-index:1;
	top:15px;
	right:15px;
	list-style:none;
	padding:0;
	margin:0;
}

.links li{
	margin-left:10px;
	display:inline-block;
}

.card-image{
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	height:300px;
	background-size:cover;
	background-position:center center;
}

.btn{
	cursor:pointer;
}

.mask{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.75);
}